In [1]:
# import libraries needed
import numpy as np
import pandas as pd

In [2]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.12.7.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 10
Version               : 10.0.19045
machine               : AMD64
processor             : Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_United States.1252

pandas                : 2.2.2
numpy                 : 1.26.4
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : 75.1.0
pip                   : 24.2
Cython                : None
pytest                : 7.4.4
hypothesis            : None
sphinx                : 7.3.7
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : 5.2.1
html5lib              : None
pymysql               : None
psycopg2              : 2.9.10
jinja2                : 3.1.4
IPython               : 8.27.0
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : 1.3.7
dataframe-api-compat  : None
fastparquet           : None
fsspec                : 2024.6.1
gcsfs                 : None
matplotlib            : 3.9.2
numba                 : 0.60.0
numexpr               : 2.8.7
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
pyarrow               : 16.1.0
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : 2024.6.1
scipy                 : 1.13.1
sqlalchemy            : 2.0.34
tables                : 3.10.1
tabulate              : 0.9.0
xarray                : 2023.6.0
xlrd                  : None
zstandard             : 0.23.0
tzdata                : 2023.3
qtpy                  : 2.4.1
pyqt5                 : None

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [2]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("../retail/oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [3]:
oil_series = pd.Series(oil_array, name = "Oil_series")

In [5]:
print(f"Name = ", oil_series.name)
print(f"dtype = ", oil_series.dtype)
print(f"Size = ", oil_series.size)
print(f"Index = ", oil_series.index)

Name =  Oil_series
dtype =  float64
Size =  100
Index =  RangeIndex(start=0, stop=100, step=1)

In [6]:
oil_series.mean()

51.128299999999996

In [4]:
pd.mean(oil_series)

AttributeError: module 'pandas' has no attribute 'mean'

In [5]:
oil_series.astype(int).mean()

50.66

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [6]:
# extract date column from oil DataFrame and grab first 100 rows
    
dates = pd.Series(oil["date"]).iloc[1000:1100]

In [7]:
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [8]:
oil_series.index = dates
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil_series, Length: 100, dtype: float64

In [9]:
oil_series.iloc[:10].mean()

52.765

In [10]:
oil_series[:20]

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
2016-12-28    54.01
2016-12-29    53.80
2016-12-30    53.75
2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
2017-01-09    51.95
2017-01-10    50.82
2017-01-11    52.19
2017-01-12    53.01
2017-01-13    52.36
2017-01-17    52.45
2017-01-18    51.12
2017-01-19    51.39
Name: Oil_series, dtype: float64

In [50]:
oil_series.iloc[-10:].mean()

47.05222222222223

In [12]:
rest_series = oil_series.loc['2017-01-01' : '2017-01-07'].reset_index()
rest_series

         date  Oil_series
0  2017-01-03       52.36
1  2017-01-04       53.26
2  2017-01-05       53.77
3  2017-01-06       53.98

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [13]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [14]:
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: Oil_series, dtype: float64

In [15]:
lowerest = oil_series.sort_values().iloc[:10]

In [16]:
lowerest.sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: Oil_series, dtype: float64

In [17]:
mask = oil_series.index.isin(dates) & (oil_series <= 50)
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: Oil_series, dtype: float64


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [18]:
oil_sser2 = oil_series.add(oil_series *0.1).add(2)
oil_sser2

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: Oil_series, Length: 100, dtype: float64

In [19]:
maxval = oil_series.max()

In [20]:
(oil_series - maxval) / maxval

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: Oil_series, Length: 100, dtype: float64

In [21]:
oil_sser2 = oil_sser2.sub(oil_series)
oil_sser2

date
2016-12-20    7.222
2016-12-21    7.144
2016-12-22    7.198
2016-12-23    7.201
2016-12-27    7.282
              ...
2017-05-09    6.584
2017-05-10    6.728
2017-05-11    6.781
2017-05-12    6.783
2017-05-15    6.886
Name: Oil_series, Length: 100, dtype: float64

In [22]:
oil_series*1.1 + 2

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: Oil_series, Length: 100, dtype: float64

In [23]:
# Create a series from the index of oil_series
datesoilmax = pd.Series(oil_series.index)
datesoilmax

0     2016-12-20
1     2016-12-21
2     2016-12-22
3     2016-12-23
4     2016-12-27
         ...
95    2017-05-09
96    2017-05-10
97    2017-05-11
98    2017-05-12
99    2017-05-15
Name: date, Length: 100, dtype: object

In [24]:
# Slice out month portion of text string and convert to int
month = pd.Series(datesoilmax.str[5:7].astype(int))
month

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int32

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did unique integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [25]:
oil_series[oil_series.index.str[5:7] == "03"].sum()

1134.5399999999997

In [26]:
oil_series[(oil_series.index.str[5:7] == '01') | (oil_series.index.str[5:7] == '02')].count()

39

In [27]:
oil_series[oil_series.index.str[5:7].isin(['01','02'])].count()

39

In [28]:
oil_series.quantile([0.1,0.9,0.5])

0.1    47.299
0.9    53.811
0.5    52.190
Name: Oil_series, dtype: float64

In [29]:
oil_series.astype(int).count()

100

In [30]:
oil_series.astype(int).unique(
    
)

array([52, 51, 54, 53, 50, 49, 48, 47, 45, 46])

In [31]:
oil_series.astype(int).value_counts(normalize = True)

Oil_series
53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: proportion, dtype: float64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [32]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)

In [39]:
oil_series.isna().sum()

2

In [40]:
oil_series.median()

52.205

In [41]:
oilse = oil_series.fillna(oil_series.median)
oilse

date
2016-12-20                                                52.22
2016-12-21    <bound method Series.median of date\n2016-12-2...
2016-12-22                                                51.98
2016-12-23                                                52.01
2016-12-27                                                52.82
                                    ...
2017-05-09                                                45.84
2017-05-10                                                47.28
2017-05-11                                                47.81
2017-05-12    <bound method Series.median of date\n2016-12-2...
2017-05-15                                                48.86
Name: Oil_series, Length: 100, dtype: object

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [45]:
def kumi (price, limit):
    if price < limit:
        return 'Buy'
    else:
        return 'Wait'

In [59]:
oil_series.apply(lambda x : "Buy now" if x < oil_series.quantile(0.9) else "Wait a Bit") #x is always the value

date
2016-12-20       Buy now
2016-12-21    Wait a Bit
2016-12-22       Buy now
2016-12-23       Buy now
2016-12-27       Buy now
                 ...
2017-05-09       Buy now
2017-05-10       Buy now
2017-05-11       Buy now
2017-05-12    Wait a Bit
2017-05-15       Buy now
Name: Oil_series, Length: 100, dtype: object

In [49]:
oil_series.apply(kumi, args = (oil_series.quantile(0.9),))

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: Oil_series, Length: 100, dtype: object

In [58]:
(oil_series
 .where(oil_series.index.isin(['2016-12-23','2017-05-10']), oil_series.mul(1.1))
 .where(~oil_series.index.isin(['2016-12-23','2017-05-10']), oil_series.mul(0.9))

)

date
2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    46.809
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Name: Oil_series, Length: 100, dtype: float64

In [55]:
(oil_series
 .where(oil_series.index.isin(["2016-12-23", "2017-05-10"]), oil_series * 1.1)
 .where(~oil_series.index.isin(["2016-12-23", "2017-05-10"]), oil_series * .9)
)

date
2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    46.809
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Name: Oil_series, Length: 100, dtype: float64