In [1]:
import pandas as pd

# Assignment 1: Streamlined Data Ingestion

Now that we have a good idea of what we want the data prep on transactions looks like,
let's push that to the read_csv function. 

Keep an eye on the memory usage before and after. 

* Change the column names to 'Date', 'Store_Number', and 'Transaction_Count'.
* Skip the first row of data.
* Convert columns to the appropriate datatypes. 

Then create the columns we created in the assign assignment in Section 3, by chaining assign with read_csv. 

Some starter code has been provided for you below. Because the dataframe object returned by read_csv doesn't have a name, we need to use a lambda function to refer to the dataframe.

`transactions.assign(
    target_pct=transactions["transactions"] / 2500,
    met_target=(transactions["transactions"] / 2500) >= 1,
    bonus_payable=((transactions["transactions"] / 2500) >= 1) * 100,
    month=transactions["date"].dt.month,
    day_of_week=transactions["date"].dt.dayofweek,
)`

The first one should look like:

`target_pct = lambda x: (x["Transaction_Count"] / 2500)`

In [9]:
# expand on the code below...

transactions = pd.read_csv("../retail/transactions.csv", parse_dates = True)
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [5]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  object
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.9+ MB

In [19]:
cols = ["Date" , "store_no", "Transaction_Count"]

transactions = pd.read_csv("../retail/transactions.csv", 
                           header = 0,
                           parse_dates = ["Date"],
                           names = cols,
                           skiprows = [0],
                           dtype = {"Store_Number": "Int8", "Transaction_Count": "Int16"}).assign(
                               target_pct= lambda x : (x["Transaction_Count"] / 2500) ,
                               met_target= lambda x : (x["Transaction_Count"] / 2500) >= 1,
                               bonus_payable= lambda x : ((x["Transaction_Count"] / 2500) >= 1) * 100,
                               month=transactions["Date"].dt.month,
                               day_of_week=transactions["Date"].dt.dayofweek
                           ).astype({                                                                 # Cast new columns to correct dtypes.
    "target_pct": "Float32",                                               # Note this could also be done in assign
    "month": "Int8",                                                      
    "day_of_week": "Int8"
})
    
                          

transactions.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83487 entries, 0 to 83486
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               83487 non-null  datetime64[ns]
 1   store_no           83487 non-null  int64
 2   Transaction_Count  83487 non-null  Int16
 3   target_pct         83487 non-null  Float32
 4   met_target         83487 non-null  boolean
 5   bonus_payable      83487 non-null  Int32
 6   month              83487 non-null  Int8
 7   day_of_week        83487 non-null  Int8
dtypes: Float32(1), Int16(1), Int32(1), Int8(2), boolean(1), datetime64[ns](1), int64(1)
memory usage: 2.8 MB

In [17]:
transactions = pd.read_csv(
    "../retail/transactions.csv",                                          
    header=0,                                                              # Suppress header to allow custom names
    names=["Date", "Store_Number", "Transaction_Count"],                   # Specify new column names
    skiprows=[0],                                                          # Skip the first row of data
    parse_dates=["Date"],                                                  # parse date column
    dtype={"Store_Number": "Int8", "Transaction_Count": "Int16"}).assign(  # Downcast two integer columns
    target_pct = lambda x: (x["Transaction_Count"] / 2500),
    met_target = lambda x: (x["Transaction_Count"] / 2500 >= 1),
    bonus_payable = lambda x: (x["Transaction_Count"] / 2500 >= 1 * 100),
    month = lambda x: x["Date"].dt.month,
    day_of_week = lambda x: x["Date"].dt.dayofweek,
).astype({                                                                 # Cast new columns to correct dtypes.
    "target_pct": "Float32",                                               # Note this could also be done in assign
    "month": "Int8",                                                      
    "day_of_week": "Int8"
})

transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83487 entries, 0 to 83486
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               83487 non-null  datetime64[ns]
 1   Store_Number       83487 non-null  Int8
 2   Transaction_Count  83487 non-null  Int16
 3   target_pct         83487 non-null  Float32
 4   met_target         83487 non-null  boolean
 5   bonus_payable      83487 non-null  boolean
 6   month              83487 non-null  Int8
 7   day_of_week        83487 non-null  Int8
dtypes: Float32(1), Int16(1), Int8(3), boolean(2), datetime64[ns](1)
memory usage: 2.1 MB

# Assignment 2: Write to Excel Sheets

Write the data in the transactions dataframe you created above into an Excel workbook.

Write out a separate sheet for each year of the data.

If you prefer, you can write each year of data to a separate csv file.

In [20]:
transactions.head()

,Date,store_no,Transaction_Count,target_pct,met_target,bonus_payable,month,day_of_week
0,2013-01-02,1,2111,0.8444,False,0,1,2
1,2013-01-02,2,2358,0.9432,False,0,1,2
2,2013-01-02,3,3487,1.3948,True,100,1,2
3,2013-01-02,4,1922,0.7688,False,0,1,2
4,2013-01-02,5,1903,0.7612,False,0,1,2

In [26]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83487 entries, 0 to 83486
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               83487 non-null  datetime64[ns]
 1   store_no           83487 non-null  int64
 2   Transaction_Count  83487 non-null  Int16
 3   target_pct         83487 non-null  Float32
 4   met_target         83487 non-null  boolean
 5   bonus_payable      83487 non-null  Int32
 6   month              83487 non-null  Int8
 7   day_of_week        83487 non-null  Int8
dtypes: Float32(1), Int16(1), Int32(1), Int8(2), boolean(1), datetime64[ns](1), int64(1)
memory usage: 2.8 MB

In [24]:
transactions.loc[:,["Date", "bonus_payable","Transaction_Count","store_no", "target_pct"]].to_csv('C:\Users\sesha\Desktop\123.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1002856548.py, line 1)

In [37]:
transactions.loc[:, ["Date","bonus_payable","Transaction_Count","store_no","target_pct"]] \
    .to_csv(r'C:\Users\sesha\Desktop\123.csv', index=False)

In [38]:
import pandas as pd

# Make sure Date is datetime
transactions["Date"] = pd.to_datetime(transactions["Date"])

cols = ["Date","bonus_payable","Transaction_Count","store_no","target_pct"]

with pd.ExcelWriter(r"C:\Users\sesha\Desktop\year.xlsx", engine="openpyxl") as writer:
    wrote_any = False
    for x in range(2014, 2019):
        df_year = transactions.loc[transactions["Date"].dt.year == x, cols]
        if not df_year.empty:
            df_year.to_excel(writer, sheet_name=str(x), index=False)
            wrote_any = True